# Dependencies
node_modules/
.pnpm-store/

# Build & Log Files
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
